<?xml version="1.0" encoding="utf-8"?>
<widget id="com.wiredelta.radar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Radar</name>
    <description>
        Radar is an intermediate app that connects merchants on the one side and people who want to buy from local stores on the other, buying through the app.
    </description>
    <author email="contact@wiredelta.com" href="http://wiredelta.com/">
        WireDelta
    </author>
    
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/file"/>
    
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
	
	<preference name="phonegap-version" value="2.9.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="show-splash-screen-spinner" value="false" />

    <access origin="*" />
</widget>